<html>
  <head>
    <title>Bucket Test</title>
  </head>
  <body>
    <a href="/bucket">Create Bucket</a>

    <form action="/" method="POST" encType="multipart/form-data" >
      <label for="img">Select image:</label>
      <input type="file" id="img" name="img" accept="image/*" />
      <input type="submit" value="Upload!"/>
    </form>

    <a href="/list">Bucket List</a>
  </body>
</html>