<html>
  <head>
    <title>Bucket Show</title>
  </head>
  <body>
    <p>Bucket List</p>
    <a href="/">Go Home</a>


    <% contents.map((item)=>{ %>
      <p><%= item.Key %></p>
    <% }) %>

  </body>
</html>